<div class="flex flex-col m-4 p-4 border-2 border-blue-500 rounded" data-controller="dnd" id= "<%= applicant.id %>" draggable="true" data-action="dragstart->dnd#ondrag" data-dnd-target="card">
    <div>
        Name: <%= applicant.name %>
    </div>
    <div>
        Status: <%= applicant.status %>
    </div>
    <div>
        Notes: <%= truncate(applicant.notes, length: 20) %>
    </div>
</div>